.header1 {
    margin-bottom: 40px;
    text-align: center;
}

.img {
    margin-bottom: 20px;
    max-height: 150px;
    width: auto;
}

h1 {
    font-family: bebas_neue;
    color: white;
    text-align: center;
}

h6 {
    font-family: bebas_neue;
    color: white;
    margin: 30px 0 0 -270px;
}

.input {
    background: #4a4d65;
    color: #b3b3b3;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 12px;
    max-width: 350px;
}

.pass {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    max-width: 304px;
}

.eye {
    background: #4a4d65;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 12px;
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

}

.btn1 {
    background-color: #ff6464;
    width: 350px;
    font-family: bebas_neue;
    font-size: 22px;
    color: white;
    border: none;
    border-radius: 12px;
}